/* SCSS Colors */
$darkgreen: #003300;
$dark-moss-green: #40531b;

/* Import Google Fonts (Cleaned up for speed and accuracy) */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Source+Sans+3:ital,wght@0,400..900;1,400..900&display=swap');

/* Quarto Global Theme Variables */
$font-family-sans-serif: "Source Sans 3", sans-serif;
$headings-font-family: "Merriweather", serif;
$headings-color: $darkgreen;
$link-color: $dark-moss-green;

/* Any custom, specific rules can go down here */